#weather {
  width: 280px;
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li img {
	margin-bottom: -4px;
}

#weather li {
	color: #ffc20e;
	font-weight: bold;
  padding: 6px;
  display: inline-block;
  text-shadow: 1px 1px 1px #333;
}

#weather .currently {
  margin: 0;
}